<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú</title>
</head>
<body>
  <h1>Menú de Navegación</h1>
  <ul>
    <li><a href="/clientes">Ver Clientes</a></li>
    <li><a href="/productos">Ver Productos</a></li>
  </ul>
</body>
</html>